requests~=2.32.5
python-dotenv~=1.2.1
anthropic~=0.79.0
markdown~=3.10
pyyaml~=6.0.3
defeatbeta-api~=0.0.44
pytest~=9.0.2
pytest-cov~=7.0.0
ruamel.yaml~=0.19.1
pre-commit~=4.5.1
black~=26.1.0
isort~=8.0.0
flake8~=7.3.0
